[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "tmux/tmux.symlink"]
	path = tmux/tmux.symlink
	url = git@github.com:sean-brandt/.tmux.git
